::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F7F6;
    color: #419EDC;
}

a {
    color: #1559BD;
}

.wrapper {
    position: absolute;
    top: 200px;
    margin: 10px;
    height: 560px;
    width: 450px;
    border-radius: 30px;
    border: solid;
}

#pfp {
    position: absolute;
    top: -5px;
    width: 200px;
    transform: rotate(-3deg);
}

.mini-desc {
    position: absolute;
    left: 220px;
    text-align: center;
    line-height: 35px;
}

.pix {
    height: 25px;
    margin: -5px;
}

.flags {
    height: 20px;
    width: 25px;
}

/*-------MUSIC PLAYER BY GLENTHEMES-------*/
.sonata marquee {
    text-transform: lowercase;
    width: 150px;
    margin-left: 3px;
}

#glenplayer02 {
    margin-top: 6px;
    display: flex;
    z-index: 99;
}

#glenplayer02 a {
    text-decoration: none;
}

#glenplayer02>div {
    position: relative;
    top: 130px;
    left: 220px;
    align-self: center;
    -webkit-align-self: center;
}

.music-controls {
    user-select: none;
    -webkit-user-select: none;
    width: 13px;
    font-size: 17px;
    cursor: pointer;
}

.playy,
.pausee {
    color: #94D9F0;
    text-shadow: -1px 0 #1559BD, 0 1px #1559BD, 1px 0 #1559BD, 0 -1px #1559BD, 0 0;
}

/* color of play & pause buttons */

.pausee {
    display: none;
}

.sonata {
    margin-left: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12px;
    color: #94D9F0;
    font-weight: bold;
    text-shadow: -1px 0 #1559BD, 0 1px #1559BD, 1px 0 #1559BD, 0 -1px #1559BD, 0 0;
    /* color of music note symbol */
}

.labeltext {
    position: relative;
    bottom: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 14px;
    color: #94D9F0;
    font-weight: bold;
    text-shadow: -1px 0 #1559BD, 0 1px #1559BD, 1px 0 #1559BD, 0 -1px #1559BD, 0 0;
    /* color of song title */
}

.banner {
    width: 400px;
    height: 7px;
    border-radius: 5px;
    right: 25px;
}

#header {
    position: absolute;
    top: 195px;
}

#standee {
    position: absolute;
    top: 175px;
    left: 260px;
    width: 185px;
}

#mini-image {
    width: 250px;
    position: absolute;
    top: 215px;
    left: 10px;
}

.directory p {
    width: 200px;
    position: absolute;
    top: 335px;
    left: 35px;
    text-align: right;
}

.directory #statuscafe {
    margin: 0;
    position: absolute;
    top: 390px;
    left: 30px;
}

#mini-lafayette {
    position: absolute;
    top: 375px;
    left: 240px;
    height: 150px;
}

#footer {
    position: absolute;
    top: 520px;
}

@media screen and (max-width:500px) {
    body {
        zoom: 75%;
    }
}